<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buyucoinApp.buyucoin">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:testOnly="false"
        android:icon="@drawable/buyucoin_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/buyucoin_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name="com.buyucoinApp.buyucoin.HowToSlider"></activity>
        <activity
            android:name="com.buyucoinApp.buyucoin.SplashActivity"
            android:theme="@style/fontTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.buyucoinApp.buyucoin.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/fontTheme" />
        <activity android:name="com.buyucoinApp.buyucoin.SignupActivity" />
        <activity
            android:name="com.buyucoinApp.buyucoin.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/fontTheme" />
        <activity
            android:name="com.buyucoinApp.buyucoin.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/fontTheme" />
        <activity
            android:name="com.buyucoinApp.buyucoin.CurrencyActivity"
            android:label="@string/title_activity_currency"
            android:theme="@style/fontTheme" />
        <activity
            android:name="com.buyucoinApp.buyucoin.BuySellActivity"
            android:theme="@style/fontTheme" />
        <activity
            android:name="com.buyucoinApp.buyucoin.DepositWithdrawActivity"
            android:theme="@style/fontTheme" />
        <activity
            android:name="com.buyucoinApp.buyucoin.CoinDepositWithdraw"
            android:theme="@style/fontTheme" />
        <activity
            android:name="com.buyucoinApp.buyucoin.PassCodeActivity"
            android:theme="@style/fontTheme" />
        <activity android:name="com.buyucoinApp.buyucoin.config.Config" />
        <activity
            android:name="com.buyucoinApp.buyucoin.P2POrders"
            android:theme="@style/fontTheme" />
        <activity android:name="com.buyucoinApp.buyucoin.ConfirmCodeActivity"
            android:theme="@style/fontTheme"/>
        <receiver
            android:name="com.buyucoinApp.buyucoin.broadcast.NotNetworkBroadCastReceiver"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.net.wifi.supplicant.CONNECTING_CHANGE"/> -->
            <!-- <action android:name="android.net.wifi.STATE_CHANGE"/> -->
            <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/> -->
            <!-- </intent-filter> -->
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b151bee15f72d133222a1062d5d53727f87d89d1" />
    </application>

</manifest>