<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buyucoinApp.buyucoin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/buyucoin_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/buyucoin_logo"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".VerifyUser"
            android:theme="@style/fontTheme"/>
        <activity android:name=".HowToSlider" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/fontTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
               <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/fontTheme"/>
        <activity android:name=".SignupActivity" />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/fontTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/fontTheme">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CurrencyActivity"
            android:label="@string/title_activity_currency"
            android:theme="@style/fontTheme" />
        <activity
            android:name=".BuySellActivity"
            android:theme="@style/fontTheme" />
        <activity
            android:name=".DepositWithdrawActivity"
            android:theme="@style/fontTheme" />
        <activity
            android:name=".CoinDepositWithdraw"
            android:theme="@style/fontTheme" />
        <activity
            android:name=".PassCodeActivity"
            android:theme="@style/fontTheme" />
        <activity android:name=".config.Config" />
        <activity
            android:name=".P2POrders"
            android:theme="@style/fontTheme" />
        <activity
            android:name=".ConfirmCodeActivity"
            android:theme="@style/fontTheme" />

        <receiver
            android:name=".broadcast.NotNetworkBroadCastReceiver"
            android:exported="false"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b151bee15f72d133222a1062d5d53727f87d89d1" />
    </application>

</manifest>