<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.buyucoinApp.buyucoin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/buyucoin_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/buyucoin_logo"
        android:supportsRtl="true"
        android:testOnly="false"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.Light"
        tools:targetApi="m">
        <activity android:name=".OTCActivity"
            android:theme="@style/fontTheme.dark"
            android:label="OTC DESK"/>
        <activity
            android:name=".GenerateWallet"
            android:theme="@style/fontTheme" />
        <activity
            android:name=".UploadKyc"
            android:theme="@style/fontTheme" />
        <activity android:name=".Decide" />
        <activity
            android:name=".VerifyUser"
            android:theme="@style/fontTheme" />
        <activity android:name=".HowToSlider" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/fontTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/fontTheme.dark">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.buyucoin.com"
                    android:pathPrefix="/auth/congratulation"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:theme="@style/fontTheme.dark" />
        <activity
            android:name=".Dashboard"
            android:theme="@style/fontTheme">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CurrencyActivity"
            android:theme="@style/fontTheme" />
        <activity
            android:name=".BuySellActivity"
            android:theme="@style/fontTheme" />
        <activity
            android:name=".DepositWithdrawActivity"
            android:theme="@style/fontTheme" />
        <activity
            android:name=".CoinDepositWithdraw"
            android:theme="@style/fontTheme" />
        <activity
            android:name=".PassCodeActivity"
            android:theme="@style/fontTheme" />
        <activity android:name=".config.Config" />
        <activity
            android:name=".P2POrders"
            android:theme="@style/fontTheme" />
        <activity
            android:name=".ConfirmCodeActivity"
            android:theme="@style/fontTheme" />

        <receiver
            android:name=".broadcast.NotNetworkBroadCastReceiver"
            android:exported="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b151bee15f72d133222a1062d5d53727f87d89d1" />
    </application>

</manifest>